/* Redes sociales */
.redes-sociales {
  margin-top: 60px;
  background: #fff;
}

/* Espacio para el tab   */
#tabs4-1b .tab-pane{
  padding:40px 20px;
}

.espaciovertical {
  padding-top:20px;
  padding-bottom:20px;
}

.espaciomini {
  padding:10px;
}


.reconocimientos {
  padding:40px 20px;

}

.hobbies {
  padding:40px 20px;
  background: #fff;
}

.compartir {
  padding:40px 20px;
}

.pie-pagina {
  padding:40px 20px;
}

.copy {
  padding:20px;
}